<a href="https://colab.research.google.com/github/GyanGartia/Machine-Learning/blob/main/Lab_3_Na%C3%AFve_Bayes_FF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**NAIVE BAYES ON FOREST FIRE DATASET**

In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [5]:
data = pd.read_csv('/content/drive/MyDrive/dataset/forestfires.csv')

In [6]:
data.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [7]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
# data.drop(['month', 'day'], axis='columns', inplace=True)

In [9]:
#Convert categorical variables (months and days) into numerical values
months_table = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
days_table = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']

data['month'] = [months_table.index(month) for month in data['month'] ]
data['day']   = [days_table.index(day)  for day in data['day'] ]

In [15]:
data['impact'] = [0 if area == 0 else 1 for area in data['area']]
target = data.impact
inputs = data.drop(['area','impact'], axis='columns')

In [16]:
data.sample(5)

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,impact
453,4,5,7,4,89.4,266.2,803.3,5.6,17.4,54,3.1,0.0,0.00,0
138,9,9,6,2,85.8,48.3,313.4,3.9,18.0,42,2.7,0.0,0.36,1
25,7,4,7,0,91.4,142.4,601.4,10.6,16.3,60,5.4,0.0,0.00,0
199,2,4,8,1,63.5,70.8,665.3,0.8,22.6,38,3.6,0.0,11.32,1
125,3,4,9,0,92.6,46.5,691.8,8.8,20.6,24,5.4,0.0,0.00,0

In [17]:
# finding NaN values
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [18]:
#dividing dataset into 80-20% training and testing 
x_train, x_test, y_train, y_test = train_test_split(inputs, target, test_size = 0.3)

In [19]:
print("length of x train: ", len(x_train))
print("length of x test: ", len(x_test))
print("total: ", len(inputs))

length of x train:  361
length of x test:  156
total:  517

In [20]:
# using gaussian naive bayes to train model
model = GaussianNB()

In [21]:
# fit() to train the model 
model.fit(x_train, y_train)

GaussianNB()

In [22]:
# score for accuracy
model.score(x_test, y_test)

0.5192307692307693

In [23]:
x_test[:10]

     X  Y  month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain
214  4  4      2    6  91.7   35.8   80.8   7.8  17.0  27   4.9   0.0
375  6  5      8    6  91.2   94.3  744.4   8.4  15.4  57   4.9   0.0
337  6  3      8    1  91.6  108.4  764.0   6.2  23.0  34   2.2   0.0
280  4  6     11    5  84.7   26.7  352.6   4.1   2.2  59   4.9   0.0
229  8  6      7    6  92.2   81.8  480.8  11.9  16.4  43   4.0   0.0
48   4  4      2    1  87.2   23.9   64.7   4.1  11.8  35   1.8   0.0
239  7  5      3    0  81.9    3.0    7.9   3.5  13.4  75   1.8   0.0
240  6  3      3    3  88.0   17.2   43.5   3.8  15.2  51   2.7   0.0
154  1  5      8    6  93.4  145.4  721.4   8.1  29.6  27   2.7   0.0
166  6  5      7    3  92.1  111.2  654.1   9.6  16.6  47   0.9   0.0

In [24]:
y_test[:10]

214    1
375    1
337    1
280    1
229    1
48     0
239    0
240    0
154    1
166    1
Name: impact, dtype: int64

In [25]:
#prediction
model.predict(x_test[:10])

array([0, 1, 0, 0, 0, 0, 0, 0, 1, 1])

In [26]:
#probability
model.predict_proba(x_test[:10])

array([[0.90494527, 0.09505473],
       [0.49703814, 0.50296186],
       [0.57519335, 0.42480665],
       [0.66467385, 0.33532615],
       [0.57024608, 0.42975392],
       [0.94964512, 0.05035488],
       [0.99384899, 0.00615101],
       [0.95497695, 0.04502305],
       [0.34596391, 0.65403609],
       [0.48183555, 0.51816445]])

In [27]:
#elbow visualization